@import 'colors.css';

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background-color-dark);
    color: var(--text-color-light);
    display: flex;
    flex-direction: row; /* Keep body as row layout */
    min-height: 100vh;
}

/* Sidebar styles */
.sidebar {
    width: 220px; /* Sidebar width on large screens */
    background-color: var(--background-color-light);
    padding: 15px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Start at the top */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    transition: width 0.3s ease, visibility 0.3s ease; /* Smooth transition when toggling sidebar */
    overflow: hidden;
}

.sidebar.open {
    visibility: visible; /* Make visible when open */
}

.sidebar h1 {
    color: var(--text-color-light);
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    margin-bottom: 1rem;
}

.sidebarBtn {
    display: block;
    width: 100%;
    background: none;
    border: none;
    color: var(--text-color-dark);
    padding: 0.3rem;
    text-align: left;
    font-size: 1.1rem;
    cursor: pointer;
}

.sidebarBtn:hover {
    background-color: var(--background-color-light2);
    outline: 14px solid var(--background-color-light2);
    border-radius: 0;
}

/* User Info positioned at the bottom */
.userInfo {
    display: flex;
    align-items: center;
    margin-top: auto; /* Push user info to the bottom */
    padding-bottom: 20%;
}

.userAvatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.userDetails {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.userDetails span {
    width: 60%; 
    margin: 0;
    font-size: 0.9rem;
}

.userDetails .logoutBtn {
    width: 40%; 
    color: red;
    text-decoration: none;
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
    background-color: var(--background-color-light);
}

.userDetails .logoutBtn:hover {
    text-decoration: underline;
}

/* Main content */
.mainContent {
    flex: 1;
    padding: 20px;
    margin-left: 250px; /* Space for the sidebar on larger screens */
    transition: margin-left 0.3s ease; /* Smooth transition when toggling sidebar */
}

/* Hamburger button */
.hamburgerBtn {
    display: none; /* Hidden by default on larger screens */
    background-color: var(--background-color-light);
    padding: 10px;
    cursor: pointer;
    position: fixed;
    top: 10px;
    left: 10px; /* Ensure space for the button */
    z-index: 1000; /* Above other elements */
    font-size: 2rem;
    cursor: pointer;
    border: none;
    color: var(--text-color-dark);
}

/* Media Queries for Responsiveness */

/* For screens less than 768px */
@media screen and (max-width: 768px) {
    .sidebar {
        width: 0; /* Collapsed sidebar width */
        visibility: hidden; /* Sidebar hidden by default */
    }

    .sidebar.open {
        width: 200px; /* Sidebar width when open */
        visibility: visible;
    }

    .sidebar h1 {
        padding-left: 22%;
    }
    .mainContent {
        margin-left: 50px;
    }

    .mainContent.sidebar-open {
        margin-left: 220px; /* Space for the sidebar when open */
    }

    .hamburgerBtn {
        display: block; /* Show hamburger button on small screens */
    }
}

/* For screens less than 480px */
@media screen and (max-width: 480px) {
    .sidebarBtn {
        font-size: 0.9rem; /* Smaller font size */
    }

    .userAvatar {
        width: 30px; /* Smaller avatar for small screens */
        height: 30px;
    }

    .userDetails span,
    .userDetails .logoutBtn{
        font-size: 0.8rem; /* Smaller font size for user details */
    }
}
