@import 'colors.css';

.LoginSignBody {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background-color-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: var(--text-color-light);
}

.formContainer {
    background-color: var(--background-color-light);
    padding: 2rem;
    border-radius: 8px;
    width: 320px;
    max-width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.6s ease-in-out;
}

.LoginSignBody h2 {
    margin: 0 0 1rem 0;
    text-align: center;
    font-size: 1.5rem;
}

.LoginSignBody label {
    display: block;
    margin-bottom: 0.4rem;
    font-size: 1rem;
}

.LoginSignBody input {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: var(--text-color-light);
    border-radius: 5px;
    background-color: #fff;
    font-size: 0.98rem;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
}

.LoginSignBody input:focus {
    outline: 2px solid var(--blue-color-light);
    outline-offset: 2px;
}

.LoginSignBody button {
    width: 100%;
    padding: 0.8rem;
    background-color: var(--blue-color-light);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.2s ease-in-out;
}

.LoginSignBody button:hover {
    background-color: var(--blue-color-dark);
}

.LoginSignBody button:active {
    transform: scale(0.98);
}

.LoginSignBody p {
    text-align: center;
    margin-top: 1rem;
    font-size: 0.9rem;
    color: var(--text-color-dark);
}

.LoginSignBody a {
    color: var(--blue-color-light);
    text-decoration: none;
}

.LoginSignBody a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .form-container {
        width: 90%;
        padding: 1.5rem;
    }

    .LoginSignBody input, .LoginSignBody button {
        font-size: 0.9rem;
    }

    .LoginSignBody h2 {
        font-size: 1.4rem;
    }

    .LoginSignBody label {
        font-size: 0.9rem;
    }

    .LoginSignBody p {
        font-size: 0.8rem;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
