@import 'colors.css';
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background-color-dark);
    color: var(--text-color-light);
    display: flex;
}

.sidebar {
    width: 200px;
    background-color: var(--background-color-light);
    padding: 15px;
    height: 95.2vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar h1 {
    color: var(--text-color-light);
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 1rem;
}

.sidebar-btn {
    display: block;
    width: 100%;
    background: none;
    border: none;
    color: var(--text-color-dark);
    padding: 0.3rem;
    text-align: left;
    font-size: 1.1rem;
    cursor: pointer;
}

.sidebar-btn:hover {
    background-color: var(--background-color-light2);
    outline: 14px solid var(--background-color-light2);
}

.admin-info {
    display: flex;
    align-items: center;
    margin-top: auto;
}

.admin-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.admin-details {
    display: flex;
    flex-direction: row;
}

.admin-details span {
    margin: 0;
    font-size: 0.9rem;
}

.admin-details a {
    color: red;
    text-decoration: none;
    padding-left: 15px;
    font-size: 0.9rem;
}

.admin-details a:hover {
    text-decoration: underline;
}

#main-content {
    flex: 1;
    padding: 20px;
}

.overview h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}
