@import 'colors.css';
body {
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    background-color: var(--background-color-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: var(--text-color-light);
}

.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.form-container {
    background-color: var(--background-color-light);
    padding: 2rem;
    border-radius: 8px;
    width: 320px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
    margin: 0 0 1rem 0;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 0.4rem;
    font-size: 1rem;
}

input {
    width: 92%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: var(--text-color-light);
    border-radius: 5px;
    background-color: #fff;;
    font-size: 0.98rem;
}

/* When the input field is focused or user starts typing */
input:focus {
    outline-color: var(--blue-color-light);
}

button {
    width: 100%;
    padding: 0.8rem;
    background-color: var(--blue-color-light);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: var(--blue-color-dark);
}

p {
    text-align: center;
    margin-top: 1rem;
    font-size: 0.9rem;
    color: var(--text-color-dark);
}

a {
    color: var(--blue-color-light);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
